<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/vendors/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <script type="application/javascript" src="/vendors/jquery.min.js"></script>
    <script type="application/javascript" src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/vendors/angular.min.js"></script>
    <script type="application/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="application/javascript" src="/vendors/moment/moment.min.js"></script>
    <script type="application/javascript" src="/vendors/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>


