<div class="container" ng-init="onLoad()">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dark">
                Калькулятор активностей
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="float-right">
                <button ng-click="add()" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить</button>
                <button ng-click="calcWin()" ng-disabled="getCalculatedActivities().length == 0" class="btn btn-warning"><i class="fa fa-calculator"></i> Подсчет СРЭ</button>
            </div>
        </div>
    </div>

    <div class="fixed-top fixed-toolbar" ng-if="selectedActivity">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href ng-click="edit()"><i class="fa fa-pen"></i> Изменить</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ng-click="delete()"><i class="fa fa-trash-alt"></i> Удалить</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href ng-click="hideToolbar()"><i class="fa fa-window-close"></i> Отмена</a>
            </li>
        </ul>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" style="color: #0056b3;" ng-class="{'active': isActive('1')}" href="#!/activity/calculator/1">Активности в час</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" style="color: #0056b3;"   ng-class="{'active': isActive('2')}" href="#!/activity/calculator/2">Активности в минуту</a>
        </li>
      </ul>    
    <div class="text-center" ng-if="isActivityLoading == false && getCalculatedActivities().length === 0">
        <h2><i class="fa fa-flag"></i></h2>
        <h2>Записи не найдены. Добавьте запись.</h2>
    </div>

    <div class="text-center" ng-if="isActivityLoading == true">
        <h2><i class="fa fa-spinner fa-spin"></i></h2>
        <h2>Загрузка...</h2>
    </div>

    <div class="row" ng-if="getCalculatedActivities().length > 0 && isActivityLoading == false">
        <div class="col-md-12">
            <div class="form-group float-right" style="margin-top:30px;">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Найти...">
            </div>
            <div class="table-responsible">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Калории</th>
                            <th>Время</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in getCalculatedActivities() | filter: searchText" ng-click="selectActivity(item)" ng-class="{'selected-row': item.selected}">

                            <td ng-bind="item.name"></td>
                            <td>{{toFixed(item.calories)}}</td>
                            <td>{{ timeToStr(item.time) }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Итого:</strong></td>
                            <td>{{ toFixed(resultActivity.calories) }}</td>
                            <td>{{ timeToStr(resultActivity.time) }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="add-activity-dialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Активность</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="add_activity_form">
                    <div class="form-group" >
                        <label>Активность</label>
                        <select class="form-control" required name="activity" ng-model="edit_activity.activity" ng-class="{'is-invalid': add_activity_form.activity.$invalid}">
                            <option value="">Выбрать...</option>
                            <option ng-repeat="item in getActivityData()" ng-value="item">{{ item.activity_name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Время активности</label>
                    </div>
                    <div class="form-group form-inline">
                        <label>Часы: </label>
                        <select ng-model="edit_activity.hours" class="form-control">
                            <option value="">0</option>
                            <option ng-repeat="hours in hoursArray" ng-value="hours">{{ hours }}</option>
                        </select>
                        <label>Минуты: </label>
                        <select ng-model="edit_activity.minutes" class="form-control">
                            <option value="">0</option>
                            <option ng-repeat="minutes in sixthArray" ng-value="minutes">{{ minutes }}</option>
                        </select>
                        <label>Секунды: </label>
                        <select ng-model="edit_activity.seconds" class="form-control">
                            <option value="">0</option>
                            <option ng-repeat="seconds in sixthArray" ng-value="seconds">{{ seconds }}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                <button type="button" class="btn btn-primary" ng-click="saveActivity(edit_activity)" ng-disabled="add_activity_form.$invalid || saveActivityBtnLoading"><i class="fa fa-save"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div id="add-activity-calc" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подсчет РЭ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="cal_re_form">
                    <div class="form-group">
                            <label>Пациент</label>
                            <select class="form-control" required name="patient" ng-model="calc_activity.patient" ng-class="{'is-invalid': cal_re_form.patient.$invalid}">
                                <option value="">Выбрать...</option>
                                <option ng-repeat="item in getPatientsData()" ng-value="item">{{ item.fio }}</option>
                            </select>
                    </div>
                    <div class="form-group" ng-if="calc_activity.patient">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Пол</th>
                                        <th>Рост</th>
                                        <th>Вес</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ calc_activity.patient.gender == 1 ? 'Муж' : 'Жен' }}</td>
                                        <td>{{ calc_activity.patient.height }}</td>
                                        <td>{{ calc_activity.patient.weight }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group" >
                            <label>Расход энергии</label>
                            <input type="number" ng-value="toFixed(resultActivity.calories)" disabled class="form-control">
                        </div>
                    <div class="form-group" >
                        <label>Число А <a href="images/table_1.jpg" target="_blank"><i class="fa fa-info-circle" style="color: blue"></i></a></label>
                        <input type="number" ng-model="calc_activity.a_var" class="form-control">
                    </div>
                    <div class="form-group" >
                        <label>Число В 
                            <span ng-if="calc_activity.patient">
                                <a ng-if="calc_activity.patient.gender == 1" target="_blank" href="images/table_2.jpg">
                                    <i class="fa fa-info-circle" style="color: blue"></i>
                                </a>
                                <a ng-if="calc_activity.patient.gender == 2" target="_blank" href="images/table_3.jpg">
                                    <i class="fa fa-info-circle" style="color: blue"></i>
                                </a>
                            </span>
                        </label>
                        <input type="number" ng-model="calc_activity.b_var" class="form-control">
                    </div>
                </form>
                <div ng-if="calculation != null">
                    <table class="table">
                        <tr>
                            <td>
                                <strong>ОО:</strong>
                            </td>
                            <td>
                                {{ toFixed(calculation.oo) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>СДД:</strong>
                            </td>
                            <td>
                                    {{ toFixed(calculation.sdd)}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Средний расход энергии:</strong>
                            </td>
                            <td>
                                        {{toFixed(calculation.sre)}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                <button ng-disabled="cal_re_form.$invalid" type="button" class="btn btn-success" ng-click="calcRe()">Расчет</button>
            </div>
        </div>
    </div>
</div>

<div id="add-activity-calc-min" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подсчет CРЭ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="cal_re_form_detail">
                    <div class="form-group">
                            <label>Пациент</label>
                            <select class="form-control" required ng-change='changePatient(calc_activity.patient)' name="patient" ng-model="calc_activity.patient" ng-class="{'is-invalid': cal_re_form.patient.$invalid}">
                                <option value="">Выбрать...</option>
                                <option ng-repeat="item in getPatientsData()" ng-value="item">{{ item.fio }}</option>
                            </select>
                    </div>
                    <div class="form-group" ng-if="calc_activity.patient">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Пол</th>
                                        <th>Рост</th>
                                        <th>Вес</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ calc_activity.patient.gender == 1 ? 'Муж' : 'Жен' }}</td>
                                        <td>{{ calc_activity.patient.height }}</td>
                                        <td>{{ calc_activity.patient.weight }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group" >
                            <label>Расход энергии</label>
                            <input type="number" ng-value="toFixed(resultActivity.calories)" disabled class="form-control">
                        </div>
                    <div class="form-group" >
                        <label>Масса тела</label>
                        <input type="number" ng-model="calc_activity.weight" class="form-control">
                    </div>                    
                </form>
                <div ng-if="calculation != null">
                    <table class="table">
                        
                        <tr>
                            <td>
                                <strong>Средний расход энергии:</strong>
                            </td>
                            <td>
                                        {{toFixed(calculation.sre)}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
                <button ng-disabled="cal_re_form_detail.$invalid" type="button" class="btn btn-success" ng-click="calcRe()">Расчет</button>
            </div>
        </div>
    </div>
</div>