<div class="container" ng-init="onload()">
    <div class="row">
        <div class="col-md-12">
            <h4>Список категорий</h4>

            <div class="fixed-top fixed-toolbar" ng-if="selectedCategory">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="edit()"><i class="fa fa-pen"></i> Изменить</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href ng-click="hideToolbar()"><i class="fa fa-window-close"></i> Отмена</a>
                    </li>
                </ul>
            </div>

            <div class="text-center" ng-if="!isLoading && getCategories().length === 0">
                <h2><i class="fa fa-flag"></i></h2>
                <h2>Записи не найдены</h2>
            </div>

            <div class="text-center" ng-if="isLoading">
                <h2><i class="fa fa-spin fa-spinner"></i></h2>
                <h2>Идет загрузка...</h2>
            </div>
        </div>
    </div>
</div>